<p>Hola <%= @resource.name %>!</p>

<p>Recibimos una solicitud para reestablecer tu contraseña. Si no hiciste esta solicitud, puedes ignorar este correo. Si deseas reestablecer tu contraseña, sigue las instrucciones a continuación:</p>

<p>1. Copia el siguiente código de verificación: <strong><%= @token %></strong></p>
<p>2. Ve a la página de reestablecimiento de contraseña copiando y pegando la siguiente dirección en tu navegador:</p>
<p><%= Rails.configuration.client_base_url + 'recover-password' %></p>
<p>3. Ingresa tu dirección de correo electrónico, pega el token que copiaste y establece tu nueva contraseña.</p>

<p>Este token será válido por 6 horas.</p>
